{% extends 'layout.html' %}
{% block content %}
<div class="mt-4">
    <h2>Editar Película</h2>
    <form method="post">
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ book[1] }}"  required>
        </div>
        <div class="form-group">
            <label for="author">Director</label>
            <input type="text" class="form-control" id="author" name="author" value="{{ book[2] }}"  required>
        </div>
        <div class="form-group">
            <label for="editrial">Estudio</label>
            <input type="text" class="form-control" id="editorial" name="editorial" value="{{ book[3] }}"  required>
        </div>

        <div class="form-group">
            <label for="anio">Año de Lanzamiento</label>
            <input type="text" class="form-control" id="anio" name="anio" value="{{ book[4] }}"  required>
        </div>

        <div class="form-group">
            <label for="genero">Genero</label>
            <input type="text" class="form-control" id="genero" name="genero" value="{{ book[5] }}"  required>
        </div>

        <div class="form-group">
            <label for="stock">Cantidad Disponible</label>
            <input type="text" class="form-control" id="stock" name="stock" value="{{ book[6] }}"  required>
        </div>

        <button type="submit" class="btn btn-primary">Actualizar Película</button>
    </form>
</div>
{% endblock %}
